<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/']">HOME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/blog']">BLOG</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/contact']">KONTAKT</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/add-post']">POST</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/login" *ngIf="!authService.currentUser">Zaloguj</a>  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/signup" *ngIf="!authService.currentUser">Zarejestruj</a>  </li>
  <li>
    <button class="nav-link" (click)="logOut()" *ngIf="authService.currentUser">Wyloguj</button>
  </li>
</ul>
